In [16]:
#import lib
import pandas as pd
import numpy as np

In [17]:
#loading of dataset
df = pd.read_csv("azure_demand_dataset.csv")
print(df)

       timestamp         region service_type  demand  capacity_allocation  \
0     01-01-2024      East Asia      Compute   562.0                754.0
1     01-01-2024      East Asia      Storage   798.0               1062.0
2     01-01-2024      East Asia      Network   351.0                408.0
3     01-01-2024    South India      Compute   693.0                931.0
4     01-01-2024    South India      Storage   406.0                524.0
...          ...            ...          ...     ...                  ...
5395  26-10-2024  Korea Central      Storage   353.0                426.0
5396  26-10-2024  Korea Central      Network   194.0                261.0
5397  26-10-2024  Central India      Compute   502.0                572.0
5398  26-10-2024  Central India      Storage   510.0                628.0
5399  26-10-2024  Central India      Network   501.0                615.0

      cost_usd  service_availability_pct  is_holiday  economic_index  \
0       148.49                     99.88           1           93.51
1       183.12                     99.56           1           93.51
2       112.47                     99.54           1           93.51
3       192.24                     99.38           1           93.51
4       112.29                     99.31           1           93.51
...        ...                       ...         ...             ...
5395    122.27                     98.68           1           84.28
5396     48.73                     99.95           1           84.28
5397     82.95                     98.62           1           84.28
5398    173.97                     98.58           1           84.28
5399    155.52                     99.23           1           84.28

      market_growth_rate  cloud_adoption_index
0                   3.38                 63.64
1                   3.38                 63.64
2                   3.38                 63.64
3                   3.38                 63.64
4                   3.38                 63.64
...                  ...                   ...
5395                3.90                 72.31
5396                3.90                 72.31
5397                3.90                 72.31
5398                3.90                 72.31
5399                3.90                 72.31

[5400 rows x 11 columns]

In [18]:
#correcting the date and time format
df['timestamp'] = pd.to_datetime(df['timestamp'], format ='mixed')
df = df.sort_values(by='timestamp')
df = pd.DataFrame(df)
df

,timestamp,region,service_type,demand,capacity_allocation,cost_usd,service_availability_pct,is_holiday,economic_index,market_growth_rate,cloud_adoption_index
0,2024-01-01,East Asia,Compute,562.0,754.0,148.49,99.88,1,93.51,3.38,63.64
16,2024-01-01,Central India,Storage,726.0,947.0,194.60,99.49,1,93.51,3.38,63.64
15,2024-01-01,Central India,Compute,NaN,716.0,139.36,99.48,1,93.51,3.38,63.64
14,2024-01-01,Korea Central,Network,664.0,850.0,115.31,99.54,1,93.51,3.38,63.64
13,2024-01-01,Korea Central,Storage,263.0,338.0,69.69,98.89,1,93.51,3.38,63.64
...,...,...,...,...,...,...,...,...,...,...,...
5134,2024-12-10,South India,Storage,170.0,203.0,44.75,NaN,0,84.78,1.87,76.69
5133,2024-12-10,South India,Compute,396.0,473.0,70.58,99.33,0,84.78,1.87,76.69
5132,2024-12-10,East Asia,Network,350.0,450.0,87.93,99.16,0,84.78,1.87,76.69
5139,2024-12-10,Southeast Asia,Compute,175.0,221.0,34.48,99.20,0,84.78,1.87,76.69
5145,2024-12-10,Central India,Compute,562.0,NaN,140.48,99.76,0,84.78,1.87,76.69

In [19]:
#region correction
df['region'] = df['region'].str.title().str.replace(' ','-')
df['region']

0            East-Asia
16       Central-India
15       Central-India
14       Korea-Central
13       Korea-Central
             ...
5134       South-India
5133       South-India
5132         East-Asia
5139    Southeast-Asia
5145     Central-India
Name: region, Length: 5400, dtype: object

In [20]:
#duplicates and null values
print(df.duplicated())
print(df.isnull().sum())
df=df.drop_duplicates()
df.isnull().sum()

0       False
16      False
15      False
14      False
13      False
        ...
5134    False
5133    False
5132    False
5139    False
5145    False
Length: 5400, dtype: bool
timestamp                     0
region                        0
service_type                  0
demand                      162
capacity_allocation         162
cost_usd                    162
service_availability_pct    162
is_holiday                    0
economic_index              162
market_growth_rate          162
cloud_adoption_index        162
dtype: int64

timestamp                     0
region                        0
service_type                  0
demand                      162
capacity_allocation         162
cost_usd                    162
service_availability_pct    162
is_holiday                    0
economic_index              162
market_growth_rate          162
cloud_adoption_index        162
dtype: int64

In [21]:
#column fills 
df['demand'] = df['demand'].fillna(df['demand'].mean())
df['capacity_allocation']=df['capacity_allocation'].fillna(df['capacity_allocation'].mean())
df['cost_usd']=df['cost_usd'].fillna(df['capacity_allocation']*0.5)
df['service_availability_pct'] = df['service_availability_pct'].ffill().bfill()
df['is_holiday'] = df['is_holiday'].fillna(0)
df['economic_index'] = df['economic_index'].fillna(df['economic_index'].mean())
df['market_growth_rate'] = df['market_growth_rate'].fillna(df['market_growth_rate'].mean())
df['cloud_adoption_index'] = df['cloud_adoption_index'].fillna(df['cloud_adoption_index'].mean())

In [22]:
#checking for null values
df.isnull().sum()

timestamp                   0
region                      0
service_type                0
demand                      0
capacity_allocation         0
cost_usd                    0
service_availability_pct    0
is_holiday                  0
economic_index              0
market_growth_rate          0
cloud_adoption_index        0
dtype: int64